#ua-page,
#info {
  align-items: center;
}

h1 {
  margin-bottom: 10px;
  font-family: 'Exo 2', sans-serif;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.form-input input {
  width: 300px;
  height: 35px;
  margin-top: 10px;
  appearance: none;
  text-align: center;
  border-radius: 10px;
  border: 0 solid #0000;
}

::placeholder {
  font-family: 'Sora', sans-serif;
  font-weight: 700;
}
.form-container button {
  width: 200px;
  height: 30px;
  appearance: none;

  font-family: 'Sora', sans-serif;
  font-weight: 700;

  text-align: center;
  border-radius: 10px;
  border: 0.5px solid #847e7e00;
  cursor: pointer;
  transition: 1s;
}

.submit-button:hover,
.info-button:hover,
.return-button:hover {
  background-color: rgb(78, 228, 228);
}
