@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Pixelify+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Pixelify+Sans&display=swap');


html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-color: #E1D4C9;
    font-family: Inter;
    scroll-behavior: smooth;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

/* header styles */

.header-wrapper {
    display: flex;
    justify-content: space-between;

    margin: 20px 10px 10px 40px;

    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    color: #403F3D;
}

nav {
    display: flex;
}

ul {
    display: flex;
    gap: 40px;
    padding-right: 30px;
    list-style-type: none;
}

li {
    cursor: pointer;
}

li:last-child {
    display: flex;
    margin-bottom: 10px;
    padding-left: 328px;
    gap: 30px;
}

.coffee-cup-icon {
    padding-left: 8px;
}

.anchor {
    position: relative;
    text-decoration: none;
    color: #403F3D;
}

.anchor::after {
    position: absolute;
    content: '';
    left: 50%;
    bottom: -5px;
    display: block;
    width: 0;
    height: 2px;
    transition: 0.3s;
    transform: translateX(-50%);
    background: #403F3D;
}

@media (hover: hover) {
    .anchor:hover::after {
        width: 100%;
      }
}

/* burger menu */

.burger-menu {
    display: none;
}

.burger-icon {
 display: none;
}

/* enjoy section styles */

.enjoy-wrapper {
    display: flex;
    width: 530px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    padding-left: 60px;
    padding-bottom: 100px;
}

.enjoy-grid {
    display: grid;
    grid-template-rows: 100px 444px 100px;
    grid-template-columns: repeat(2, 677px);
    overflow: hidden;
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 40px;
}

.enjoy-background {
    grid-column: 1 / 3;
    grid-row: 1 / 4;
    overflow: hidden;
    border-radius: 40px;
}

.enjoy-background video {
    max-width: 1360px;
    margin-top: -24px;
    border-radius: 40px;
}

.enjoy-wrapper {
    grid-column: 1;
    grid-row: 2;
    padding-top: 8px;
    margin-left: 40px;
}

.enjoy-wrapper h1 {
    margin-bottom: 0;
    padding-top: 40px;
    font-family: Inter;
    font-size: 72px;
    font-style: normal;
    font-weight: 600;
    line-height: 105%;
    color: #E1D4C9;
}

.enjoy-wrapper p {
    margin-top: 0;
    margin-bottom: 0;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: #E1D4C9;
}

h1 span {
    font-family: Inter;
    font-size: 72px;
    font-style: italic;
    font-weight: 600;
    color: #B0907A;
}

.menu-button {
    display: flex;
    width: 200px;
    padding: 22px 0;
    justify-content: end;
    font-size: 16px;
    font-weight: 600;
    background:  #E1D4C9;
    color: #403F3D;
    border-radius: 100px;
    border-width: 0;
    cursor: pointer;
}

.menu-button a {
    color: #403F3D;
    text-decoration: none;
}

.menu-button svg {
    padding-right: 57px;
    transition: 0.3s ease-in;
    opacity: 0;
}

@media (hover: hover) {
    .menu-button:hover svg {
        padding-left: 9px;
        opacity: 1;
    }
}

/* favourite coffee section styles */

.favourite-coffee-wrapper {
    padding-top: 52px;
}

h2 {
    margin-bottom: 40px;
    text-align: center;
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
}

h2 span {
    font-size: 60px;
    font-style: italic;
    color: #B0907A;
}

.favourite-coffee-content {
    display: flex;
    justify-content: space-between;
}

.choose-coffee {
    display: flex;
    flex-direction: column;
    transition: 2s;
}

.coffee-image {
    display: flex;
    align-self: center;
}

.button-icon-left, .button-icon-right{
    display: flex;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 1px solid #665F55;
}

.button-icon-left, .button-icon-right {
    width: 60px;
    height: 60px;
    margin-right: 43px;
    margin-left: 43px;
    align-self: center;
    border-radius: 100px;
    transition: 0.5s;
    cursor: pointer;
}

@media (hover: hover) {
    .button-icon-left:hover, .button-icon-right:hover {
        width: 60px;
        height: 60px;
        border-radius: 100px;
        background: #665F55;
        color: #E1D4C9;
    }
}

.choose-coffee h3 {
    margin-top: 20px;
    margin-bottom: -2px;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
}

.choose-coffee p {
    width: 480px;
    margin-top: 20px;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.coffee-price {
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
}

.controls {
    display: flex;
    justify-content: center;
    gap: 12px;
    padding-top: 40px;
}

.control-dash {
    appearance: none;
    width: 40px;
    height: 4px;
    border-radius: 100px;
    background-color: #C1B6AD;
}

/* .control-dash.active {
    background-color: #665F55;
} */

.progress {
    width: 0;
    height: 4px;
}

.progress.active {
    width: 0;
    height: 4px;
    animation: moving;
    animation-duration: 7s;
    background-color: #665F55;
    animation-iteration-count: infinite;
}

/* @keyframes moving {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
} */

@media (hover: hover) {
    .control-dash:hover {
        transition: 0.5s;
        background-color: #665F55;
        cursor: pointer;
    }
}

/* choose coffee slider */

.choose-coffee-slider-wrapper {
    width: 480px;
    overflow: hidden;
    /* transition: 2s; */
}

.coffee-slider {
    width: 100%;
    display: flex;
    transition: 2s;
}

/* about section styles */

.wrapper-about h2 {
    text-align: left;
    margin-top: 0;
    padding-top: 100px;
    padding-left: 40px;
}

.about-mosaic {
    display: grid;
    grid-template-rows: 430px 120px 430px;
    gap: 40px;
    padding-left: 40px;
    padding-right: 40px;
}

.mosaic-item {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mosaic-item1 {
    grid-row: 1 / 3;
}

.mosaic-item2 {
    grid-row: 1 / 2;
}

.mosaic-item3 {
    grid-row: 3;
}

.mosaic-item4 {
    grid-row: 2 / 4;
}

.mosaic-item2 img, .mosaic-item3 img{
    margin-top: -150px;
    margin-left: -3px;
    cursor: pointer;
    transition: 0.4s;
}

.mosaic-item1 img, .mosaic-item4 img {
    margin-top: -70px;
    margin-left: -3px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.4s;
}

.wrap1, .wrap4, .mosaic-item1, .mosaic-item4 {
    border-radius: 20px;

    overflow: hidden;
    transition: 0.4s;
}

.wrap2, .wrap3, .mosaic-item2, .mosaic-item3 {
    border-radius: 20px;

    overflow: hidden;
    transition: 0.4s;
}

@media (hover: hover) {
    .wrap1 img:hover, .wrap2 img:hover,.wrap3 img:hover, .wrap4 img:hover  {
        transform: scale(0.95);
    }
}

.wrap1, .wrap2, .wrap3, .wrap4 {
    display: flex;
    justify-content: center;
}


/* mobile app */

.wrapper-mobile-app {
    display: flex;
    align-items: center;
    padding-top: 105px;
    padding-right: 45px;
}

.app-info {
    display: flex;
    margin-left: 40px; 
    padding-bottom: 190px;
}

.app-info h2 {
    padding-top: 34px;
    text-align: left;
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
}

.app-info span {
    font-style: italic;
    color: #B0907A;
}

.app-info p {
    margin-bottom: 0;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.mobiles-screens img {
    padding-bottom: 95px;
    margin-left: 100px;
}

.avaliable-buttons {
    display: flex;
    gap: 20px;
    padding-top: 40px;
}

.play-store, .google-app {
    display: flex;
    width: 158px;
    padding: 12px 20px;
    align-items: center;
    gap: 9px;

    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    cursor: pointer;

    background-color: #E1D4C9;
    color: #665F55;
    border-radius: 100px;
    border: 1px solid #665F55;

    transition: 0.5s;
}

.play-store span, .google-app span {
    font-style: normal;
    color: #403F3D;
    transition: 0.5s;
}

@media (hover: hover) {
    .play-store:hover span, .google-app:hover span {
        color: #E1D4C9;
    }
    
    .play-store:hover, .google-app:hover {
        color: #E1D4C9;
        background-color: #665F55;
    }
}

.button-text span {
    display: flex;
    flex-direction: column;
}

.service {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    color: #403F3D;
}

/* footer styles */

.footer-wrapper {
    display: flex;
    align-items: center;
    gap: 135px;
    margin: 0 40px 40px;
    padding: 97px 100px 100px;
    background-color: #665F55;
    border-radius: 40px;
}

.social-networks h2 {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 39px;
    text-align: left;
}

.social-networks, .contacts {
    font-weight: 600;
    color: #E1D4C9;
}

.icons-footer {
    display: flex;
    gap: 10px;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.icons-footer-item {
    display: flex;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;

    border-radius: 100px;
    border: 1px solid #C1B6AD;
    cursor: pointer;

    transition: 0.5s;
}

.icons-footer-item a {
    margin-top: 3px;
    text-decoration: none;
    color: #E1D4C9;
}

@media (hover: hover) {
    .icons-footer-item:hover a {
        color: #403F3D;
    }
    
    .icons-footer-item:hover {
        background-color: #E1D4C9;
    }
}

.contacts {
    padding-bottom: 34px;
}

.contacts h3 {
    margin-top: 25px;
    font-size: 24px;
}

.contacts-icons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 15px;
}

.contacts-icons img {
    padding-right: 8px;
}

.location-and-phone {
    position: relative;
    cursor: pointer;
}

.location-and-phone a {
    color: #E1D4C9;
    text-decoration: none;
}

.location-and-phone::after {
    position: absolute;
    content: '';
    left: 35%;
    bottom: -5px;
    display: block;
    width: 0;
    height: 2px;
    transition: 0.3s;
    transform: translateX(-50%);
    background: #E1D4C9;
}

@media (hover: hover) {
    .location-and-phone:hover::after {
        width: 70%;
      }
}

  @media (max-width: 1200px) {
    li:last-child {
        padding-left: 200px;
    } 


    .wrapper-mobile-app {
        display: flex;
        flex-wrap: wrap;
    }
  }

  /* tablet */

  @media (max-width: 1024px) {

    .wrapper {
        max-width: 100%;
    }

    /* header */

    .header-wrapper {
        margin-left: 30px;
    }

    li:last-child {
        padding-left: 0;
    }

    /* enjoy */

    .enjoy-wrapper {
        margin-left: 0;
        padding-left: 60px;
    }

    .enjoy-grid {
        display: grid;
        grid-template-columns: 100%;
        margin-left: 30px;
        margin-right: 30px;
    }

    .enjoy-background {
        justify-self: center;
    }

      .enjoy-background video {
        margin-top: -0.1%;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .menu-button svg {
        padding-left: 10px;
        margin-right: 5px;
        opacity: 1;
    }

    /* favourite coffee */

    .button-icon-left, .button-icon-right {
        margin-left: 4%;
        margin-right: 4%;
    }

    /* about */

    .wrapper-about h2 {
        padding-left: 4%;
        padding-right: 4%;
    }

    .about-mosaic {
        display: grid;
        justify-content: center;
        column-gap: 0;
        padding-left: 4%;
        padding-right: 4%;
    }

    .mosaic-item1 {
        justify-self: center;
        grid-column: 1;
    }

    .mosaic-item4 {
        margin-top: 160px;
        grid-column: 1;
    }

    .mosaic-item1 img, .mosaic-item4 img {
        margin-left: 2px;
    }

    .mosaic-item2 img, .mosaic-item3 img {
        display: none;
    }

    /* mobile-app */

    .wrapper-mobile-app {
        display: flex;
        flex-wrap: wrap;    
        margin-top: 85px;
    }

    .app-info h2 {
        padding-top: 21px;
    }

    .app-info {
        margin-left: 4.5%;
        padding-bottom: 90px;
    }

    .mobiles-screens {
        margin-bottom: 10px;
    }

    .mobiles-screens img {
        margin-left: 60px;
    }

    /* footer */
    
    .footer-wrapper {
        flex-wrap: wrap;
        gap: 0;
        margin-right: 30px;
        margin-left: 30px;
        padding: 0;
    }

    .social-networks h2 {
        padding: 100px 60px 0px 60px;
    }

    .icons-footer, .contacts {
        padding-left: 60px;
    }

    .contacts {
        padding-bottom: 105px;
    }

    .contacts h3 {
        padding-top: 75px;
    }
  }

  /* burger menu */

  @media (max-width: 768px) {

    nav {
        display: none;
    }

    li:last-child {
        padding-left: 0;
    }

    .burger-icon {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
        gap: 5px;
        margin-right: 23px;
        margin-bottom: 5px;
        z-index: 4;
        width: 40px;
        height: 40px;
        border: 1px solid #665F55;
        border-radius: 40px;

        cursor: pointer;
    }

    .burger-icon span:nth-child(1), .burger-icon span:nth-child(2) {
        position: absolute;
        align-self: center;
        width: 17px;
        height: 1px;
        background-color: #403F3D;

        transition: 0.5s;
    }

    .burger-icon span:nth-child(1) {
        bottom: 15px;
    }

    .burger-icon span:nth-child(2) {
        top: 15px;
    }

    span:nth-child(1).active  {
        bottom: 20px;
        transform: rotate(45deg);
    }

    span:nth-child(2).active {
        top: 20px;
        transform: rotate(-45deg);
    }

    .header-logo {
        z-index: 4;
    }

    .burger-menu {
        width: 101%;
        height: 100%;
        position: fixed;
        display: flex;
        justify-content: center;
        padding-top: 16%;
        z-index: 3;

        transition: 1s;
        background-color: #E1D4C9;

        transform: translateX(100%);
    }

    .burger-menu.active {
        transform: translateX(-1%);
    }

    .burger-menu ul {
        flex-direction: column;
        align-items: center;
        gap: 9.3%;
        padding-right: 15%;
    }

    .burger-menu li {
        align-self: center;
        font-family: Inter;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 125%; 
    }

    li:last-child {
        gap: 15px;
        padding-top: 16%;
    }
  }

  /* mobile */

  @media (max-width: 750px) {

    .wrapper {
        max-width: 100%;
    }

    /* header */

    .header-wrapper {
        margin: 20px 0 15px 9px ;
    }

    .burger-icon {
        margin-right: 10px;
    }

    /* enjoy */

    .enjoy-grid {
        display: grid;
        grid-template-rows: 60px 432px 60px;
        overflow: unset;
        margin-left: 10px;
        margin-right: 10px;
    }

    .enjoy-background {
        grid-column: 1;
        max-width: 104%;
    }

    .enjoy-wrapper {
        width: 95%;
        margin-top: 50px;
        margin-left: 14px;
        padding-top: 0;
        padding-left: 0;
    }

    .enjoy-wrapper h1 {
        margin-top: 0;
        padding-top: 14%;
        font-family: Inter;
        font-size: 42px;
        font-style: normal;
        font-weight: 600;
        line-height: 115%;
    }

    .enjoy-wrapper p {
        padding-right: 12px;
    }

    .enjoy-wrapper span {
        font-size: 42px;
        font-style: italic;
        font-weight: 600;
        line-height: 115%;
    }
    
    /* favourite coffee */

    h2, h2 span {
        margin-top: 47px;
        font-family: Inter;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 125%;
    }

    .choose-coffee {
        width: 100%;
    }

    .choose-coffee:nth-child(3) {
        width: 100%;
        margin-left: 5px;
    }

    .coffee-image img {
        width: 22rem;
    }

    .button-icon-left, .button-icon-right {
        display: none;
    }

    .choose-coffee h3 {
        margin-top: 18px;
    }

    .choose-coffee p {
        align-self: center;
        margin-top: 15px;
        width: 100%;
    }

    .coffee-price {
        margin-top: auto;
    }

    .coffee-slider {
        margin-left: 2%;
        display: flex;
        column-gap: 10px;
    }

    /* about */

    .wrapper-about h2 {
        padding-top: 102px;
        padding-left: 2%;
    }

    .about-mosaic {
        margin-left: 0;
        margin-right: 0;
        padding-left: 2%;
        padding-right: 2%;
    }

    /* mobile app */

    .wrapper-mobile-app {
        padding-right: 0;
    }

    .app-info h2 {
        font-size: 32px;
    }

    .app-info {
        margin-left: 2%;
        padding-bottom: 11%;
    }

    .avaliable-buttons {
        flex-wrap: wrap;
    }

    .mobiles-screens {
        margin-bottom: 1px;
    }

    .mobiles-screens img {
        width: 348px;
        margin-left: 2%;
    }

    /* footer */

    .footer-wrapper {
        display: flex;
        align-items: end;
        margin-right: 8px;
        margin-left: 8px;
    }

    .social-networks h2 {
        display: inline-block;
        margin-bottom: 0;
        padding: 60px 16px 40px 16px;
        font-size: 32px;
    }

    .social-networks span {
        margin-top: 0;
    }

    .icons-footer, .contacts {
        padding-left: 4.5%;
    }

    .contacts h3 {
        padding-top: 15px;
    }

    .contacts {
        padding-bottom: 19%;
    }
  }

/* https://rolling-scopes-school.github.io/mireille0000-JSFE2023Q4/coffee-house/ */