img {
  width: 50px;
}

.settings {
  width: 50px;
  cursor: pointer;
}

.greeting-message {
  margin-bottom: 35px;
  padding: 10px;
  background-color: rgba(245, 128, 32, 0.7);
  box-shadow: 0 0 5px 10px rgba(245, 128, 32, 0.7);
  border-radius: 20px;
}

.buttons-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}
