img {
  width: 50px;
}

.settings {
  width: 50px;
  cursor: pointer;
}

.greeting-message {
  margin-bottom: 35px;
  padding: 10px;
  font-weight: 600;
  background-color: rgba(245, 128, 32, 0.7);
  box-shadow: 0 0 5px 10px rgba(245, 128, 32, 0.7);
  border-radius: 20px;
  animation-name: greetingMessage;
  animation-duration: 5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes greetingMessage {
  0% {
    background-color: rgba(245, 128, 32, 0.7);
    box-shadow: 0 0 5px 10px rgba(245, 128, 32, 0.7);
  }

  25% {
    color: rgb(2, 16, 40);
    background-color: rgba(220, 157, 23, 0.7);
    box-shadow: 0 0 5px 10px rgba(220, 157, 23, 0.7);
  }

  50% {
    color: rgb(5, 21, 49);
    background-color: rgba(94, 135, 224, 0.7);
    box-shadow: 0 0 5px 10px rgba(94, 135, 224, 0.7);
  }

  100% {
    color: rgb(207, 220, 241);
    background-color: rgba(54, 128, 214, 0.7);
    box-shadow: 0 0 5px 10px rgba(54, 128, 214, 0.7);
  }
}

.buttons-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}
