#main-page header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main-buttons {
  display: flex;
  gap: 5px;
}

.main-buttons button {
  width: 200px;
  height: 30px;
  appearance: none;

  font-family: 'Sora', sans-serif;
  font-weight: 700;

  text-align: center;
  border-radius: 10px;
  border: 0.5px solid #847e7e00;
  cursor: pointer;
  transition: 1s;
}

.exit-button:hover,
.info-button:hover {
  background-color: rgb(78, 228, 228);
}

.footer-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
  padding: 10px;
}

.footer-wrapper a {
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: #000;
}

.image {
  width: 40px;
}
