@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Pixelify+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Pixelify+Sans&display=swap');


html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html.active {
  overflow-y: hidden;
}

body {
    background-color: #E1D4C9;
    font-family: Inter;
    scroll-behavior: smooth;
}

/* !!! */
body.active {
  backdrop-filter: brightness(0.5);
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

/* header-menu styles */

.header-wrapper {
    display: flex;
    justify-content: space-between;

    margin: 20px 10px 10px 40px;

    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    color: #403F3D;
}

.header-logo.active {
  opacity: 0.3;
}

nav {
    display: flex;
}

ul {
    display: flex;
    gap: 40px;
    padding-right: 20px;
    list-style-type: none;
}

li {
    cursor: pointer;
}

li:last-child {
    position: relative;
    display: flex;
    margin-bottom: 10px;
    padding-right: 10px;
    padding-left: 328px;
    gap: 30px;
    pointer-events: none;
}

li:last-child .anchor::after {
  position: absolute;
  content: '';
  left: 50%;
  bottom: -3px;
  display: block;
  width: 100%;
  height: 2px;
  transition: 0.3s;
  transform: translateX(-50%);
  background: #403F3D;
}

.coffee-cup-icon {
    padding-left: 8px;
}

.anchor {
    position: relative;
    text-decoration: none;
    color: #403F3D;
}

.anchor::after {
    position: absolute;
    content: '';
    left: 50%;
    bottom: -5px;
    display: block;
    width: 0;
    height: 2px;
    transition: 0.3s;
    transform: translateX(-50%);
    background: #403F3D;
}

@media (hover: hover) {
  .anchor:hover::after {
    width: 100%;
  }
}

  .burger-icon {
    display: none;
  }

  .burger-menu {
    display: none;
  }

  /* menu styles */

  .menu-header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menu-header.active {
    opacity: 0.3;
  }

  .menu-wrapper h1 {
    width: 800px;
    margin-top: 0;
    text-align: center;
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
  }

  .menu-icons {
    display: flex;
    gap: 14px;
  }

  /* make a coffee button interactive */

  .menu-icons-item-first {
    display: flex;
    padding: 8px 16px 8px 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;

    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;

    border-radius: 100px;
    border: 1px solid #C1B6AD;
    cursor: pointer;

    transition: 0.5s;

    background-color: #665F55;
    color: #E1D4C9;
    pointer-events: none;
  }

  .menu-icons-item-first img {
    display: flex;
    padding: 7px 7px;
    justify-content: center;
    align-items: center;

    border-radius: 100px;
    background-color: #E1D4C9;

    transition: 0.5s;
  }

  .menu-icons-item-first.active {
    border: 1px solid #C1B6AD;
    color: #403F3D;
    background-color: #E1D4C9;
    pointer-events: auto;
  }

  .menu-icons-item-first img.active {
    background-color: #E1D4C9;
  }

  

   /* buttons */

  /* make a coffee button interactive */

  .menu-icons-item {
    display: flex;
    padding: 8px 16px 8px 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;

    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;

    border-radius: 100px;
    border: 1px solid #C1B6AD;
    color: #403F3D;
    cursor: pointer;

    transition: 0.5s;
  }

  .menu-icons-item img{
    display: flex;
    padding: 7px 7px;
    justify-content: center;
    align-items: center;

    border-radius: 100px;
    background-color: #C1B6AD;

    transition: 0.5s;
  }

  @media (hover: hover) {
    .menu-icons-item:hover, .menu-icons-item-first:hover{
      background-color: #665F55;
      color: #E1D4C9;
    }
  
    .menu-icons-item:hover img, .menu-icons-item-first:hover img{
      background-color: #E1D4C9;
    }
  }

  .menu-icons-item.active {
    background-color: #665F55;
    color: #E1D4C9;
    pointer-events: none;
  }

  .menu-icons-item.active img{
    background-color: #E1D4C9;
  }

  /* buttons */

  .menu-wrapper span {
    font-style: italic;
    color: #B0907A;
  }

  .menu {
    display: grid;
    /* grid-template-rows: 1650px; */
  }

  div .coffee-offer {
    display: grid;
    grid-column: 1;
    grid-row: 1;
    opacity: 1;
    /* transition: 1s; */
  }

  div.coffee-offer.active {
    display: none;
    opacity: 0;
  }

  div .tea-offer {
    display: none;
    grid-column: 1;
    grid-row: 1;
    opacity: 0;
    /* transition: 1s; */
  }

  div .tea-offer.active {
    display: grid;
    opacity: 1;
  }

  div .desserts-offer {
    display: none;
    grid-column: 1;
    grid-row: 1;
    opacity: 0;
    /* transition: 1s; */
  }

  div .desserts-offer.active {
    display: grid;
    opacity: 1;
  }

  .coffee-offer, .tea-offer, .desserts-offer {
    display: grid;
    grid-template-columns: repeat(auto-fit, 330px);
    column-gap: 20px;
    row-gap: 20px;
    justify-content: center;
    margin-top: 40px;
    padding-bottom: 80px;
  }

  .coffee-offer.active {
    opacity: 0.3;
  }

  .menu-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-self: center;
    margin-bottom: 23px;
    border: 1px solid #C1B6AD;
    border-radius: 40px;

    cursor: pointer;
  }

  .menu-item.active {
    opacity: 0.3;
  }

  .img-item {
    display: flex;
    width: 310px;
    height: 310px;
    border-radius: 40px;
    overflow: hidden;
  }

  .img-item img {
    width: 340px;
    height: 340px;
    margin-top: -16px;
    margin-left: -14px;
    border-radius: 40px;
    transition: 0.5s;
  }

  @media (hover: hover) {
    .coffee:hover img{
      transform: scale(0.97);
    }

    .tea:hover img{
      transform: scale(0.97);
    }

    .dessert:hover img{
      transform: scale(0.97);
    }
  }

  .menu-item h3 {
    align-self: flex-start;
    margin-top: 18px;
    margin-bottom: 0;
    padding-left: 20px;
    padding-bottom: 17px;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    color: #403F3D;
  }

  .menu-item p {
    width: 270px;
    margin-top: -5px;
    padding-left: 20px;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
    color: #403F3D;
  }

  .price {
    margin-top: auto;
    padding-bottom: 13px;
    padding-left: 20px;
    font-size: 24px;
    font-weight: 600;
    line-height: 125%;
  }

  .download-more {
    display: none;
  }

  /* modal windows */

  .modal-wrapper {
    display: none;
  }

  .modal-wrapper.active {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    height: 100%;
    background-color: rgba(64, 63, 61, 0.80);
  }

  .modal {
    display: none;
    position: absolute;
    z-index: 10;
    transform: translate(-50%, -50%);
  }

  .modal.active {
    position: fixed;
    top: 50%;
    /* top: 0; */
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    display: flex;
    gap: 20px;
    padding: 16px 80px 16px 16px;

    background-color: #E1D4C9;
    border: 1px solid #E1D4C9;
    border-radius: 40px;
  }

  .modal-window-img {
    width: 310px;
    height: 310px;
    overflow: hidden;
    border-radius: 40px;
  }

  .product-item-img {
    width: 100%;
    height: 100%;
    border-radius: 40px;
  }

  .product-item-img img {
    margin-top: -15px;
    margin-left: -15px;
    border-radius: 40px;
  }

  .modal-window-content {
    width: 370px;
    display: flex;
    flex-direction: column;
    flex-shrink: 5.3;
  }

  .modal-window-content h2 {
    margin-top: -0.2%;
    margin-bottom: -0.9%;
  }

  .modal-window-content p {
    margin-right: -40px;
    margin-bottom: 23px;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }

  .product-items {
    display: flex;
    gap: 7px;
    margin-top: 5px;
  }

@media (hover: hover) {
  .product-size:hover, .product-additives:hover {
    color: #E1D4C9;
    background-color: #665F55;
  }

  .product-size:hover span, .product-additives:hover span {
    background-color: #E1D4C9;;
  }
}

  .additives {
    padding-top: 30px;
    margin-bottom: 20px;
  }

  .product-size, .product-additives {
    display: flex;
    padding: 8px 16px 8px 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: 1px solid  #C1B6AD;
    font-weight: 600;

    border-radius: 100px;
    background-color: #E1D4C9;

    cursor: pointer;
  }

  .product-size span, .product-additives span {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    color: #403F3D;

    background-color: #C1B6AD;;
    border-radius: 100px;
  }

  .total {
    display: flex;
    justify-content: space-between;
    margin-right: -19%;
    margin-bottom: 20px;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
  }

  .modal-window-content hr{
    height: 1px;
    margin-bottom: 13px;
  }

  .info {
    display: flex;
    gap: 8px;
    margin-bottom: 33px;
  }

  .info div, .info-text {
    border-top: 1px solid var(--border-light, #C1B6AD);
    padding-top: 11px;
  }

  .info-text {
    margin-right: -15%;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 140%;
    color: #403F3D;
  }

  .close-button {
    display: flex;
    padding: 10px 78px;
    justify-content: center;
    align-items: center;
    margin-right: -18%;

    font-size: 16px;
    font-style: normal;
    font-weight: 600;

    border-radius: 100px;
    border: 1px solid  #665F55;

    cursor: pointer;
  }

  .close-button:hover {
    color: #E1D4C9;
    background-color: #665F55;
  }

  /* footer styles */

  .footer-wrapper {
    display: flex;
    align-items: center;
    gap: 135px;
    margin: 0 40px 40px;
    /* padding: 100px; */
    padding: 97px 100px 100px;
    background-color: #665F55;
    border-radius: 40px;
}

.social-networks h2 {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 40px;
    text-align: left;
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
}

h2 span {
    font-size: 60px;
    font-style: italic;
    color: #B0907A;
}

.social-networks, .contacts {
    font-weight: 600;
    color: #E1D4C9;
}

.icons-footer {
    display: flex;
    gap: 10px;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.icons-footer-item {
    display: flex;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;

    border-radius: 100px;
    border: 1px solid #C1B6AD;
    cursor: pointer;

    transition: 0.5s;
}

.icons-footer-item a {
    margin-top: 3px;
    text-decoration: none;
    color: #E1D4C9;
}

@media (hover: hover) {
  .icons-footer-item:hover a {
    color: #403F3D;
}

.icons-footer-item:hover {
    background-color: #E1D4C9;
}
}

.contacts {
    padding-bottom: 20px;
}

.contacts h3 {
    margin-top: 20px;
    font-size: 24px;
}

.contacts-icons {
    display: flex;
    flex-direction: column;
    gap: 20px;
  
    padding-top: 11px;
}

.contacts-icons img {
    padding-right: 8px;
}

.location-and-phone {
    position: relative;
    cursor: pointer;
}

.location-and-phone a {
    color: #E1D4C9;
    text-decoration: none;
}

.location-and-phone::after {
    position: absolute;
    content: '';
    left: 35%;
    bottom: -5px;
    display: block;
    width: 0;
    height: 2px;
    transition: 0.3s;
    transform: translateX(-50%);
    background: #E1D4C9;
}

@media (hover: hover) {
  .location-and-phone:hover::after {
    width: 70%;
  }
}

  /* tablet */

  @media (max-width: 1024px) {

    .wrapper {
        max-width: 100%;
    }

    /* header */

    .header-wrapper {
        margin-left: 30px;
    }

    li:last-child {
      padding-left: 0;
  }

    nav {
        display: none;
    }

    .burger-icon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
        gap: 5px;
        margin-right: 23px;
        margin-bottom: 5px;
        width: 40px;
        height: 40px;
        border: 1px solid #665F55;
        border-radius: 40px;
    }

    .burger-icon span {
        align-self: center;
        width: 17px;
        height: 1px;
        background-color: #403F3D;
    }

    /* coffee menu */

    .menu-wrapper h1 {
      width: 90%;
      margin-bottom: 43px;
    }

    .coffee-offer, .tea-offer, .desserts-offer {
      display: grid;
      grid-template-columns: repeat(2, 50%);
      grid-template-rows: repeat(2, 528px);
      column-gap: 0;
      row-gap: 18px;
      overflow: hidden;
      padding-right: 25px;
      padding-left: 25px;
    }

    .price {
      padding-bottom: 17px;
    }

  /* footer */
      
  .footer-wrapper {
    flex-wrap: wrap;
    gap: 0;
    margin-right: 30px;
    margin-left: 30px;
    padding: 0;
  }

  .social-networks h2 {
    padding: 100px 60px 4px 60px;
  }

  .icons-footer, .contacts {
    padding-left: 60px;
  }

  .contacts {
    padding-bottom: 107px;
  }

  .contacts h3 {
    margin-top: 20px;
    padding-top: 77px;
    /* padding-bottom: 15px; */
  }

  .contacts-icons {
    padding-top: 14px;
  }
}

/* burger menu */

@media (max-width: 768px) {

  nav {
      display: none;
  }

  li:last-child {
      padding-left: 0;
  }

  .burger-icon {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-self: center;
      gap: 5px;
      margin-right: 23px;
      margin-bottom: 5px;
      z-index: 4;
      width: 40px;
      height: 40px;
      border: 1px solid #665F55;
      border-radius: 40px;

      cursor: pointer;
  }

  .burger-icon span:nth-child(1), span:nth-child(2) {
      position: absolute;
      align-self: center;
      width: 17px;
      height: 1px;
      background-color: #403F3D;

      transition: 0.5s;
  }

  .burger-icon span:nth-child(1) {
      bottom: 15px;
  }

  .burger-icon span:nth-child(2) {
      top: 15px;
  }

  span:nth-child(1).active  {
      bottom: 20px;
      transform: rotate(45deg);
  }

  span:nth-child(2).active {
      top: 20px;
      transform: rotate(-45deg);
  }

  .header-logo {
      z-index: 4;
  }

  .burger-menu {
      width: 101%;
      height: 100%;
      position: fixed;
      display: flex;
      justify-content: center;
      padding-top: 16%;
      z-index: 3;

      transition: 1s;
      background-color: #E1D4C9;

      transform: translateX(100%);
  }

  .burger-menu.active {
      transform: translateX(-1%);
  }

  .burger-menu ul {
      flex-direction: column;
      align-items: center;
      gap: 9.3%;
      padding-right: 15%;
  }

  .burger-menu li {
      align-self: center;
      font-family: Inter;
      font-size: 32px;
      font-style: normal;
      font-weight: 600;
      line-height: 125%; 
  }

  li:last-child {
      gap: 15px;
      padding-top: 16%;
      pointer-events: auto;
  }

  /* menu */

  .menu-item:nth-child(5), .menu-item:nth-child(6), .menu-item:nth-child(7),.menu-item:nth-child(8) {
    display: none;
  }

  .download-more {
    display: flex;
    justify-self: end;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 60px;
    height: 60px;
    margin-top: -5px;
    margin-right: -30px;
    margin-bottom: 21px;
    border: 1px solid #665F55;
    border-radius: 100px;
  }

  /* modal window */

  .modal.active {
    padding: 16px;
  }

  .modal-window-content {
    display: flex;
    flex-direction: column;
    width: 326px;
}

.modal-window-img {
  width: 310px;
}

.choose {
  display: flex;
  flex-direction: column;
}
.product-items {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  gap: 7px;
  align-self: stretch;
  flex-wrap: wrap;
  margin-top: 7px;
}

.size {
  margin-bottom: 24px;
}

.additives {
  padding-top: 0;
  margin-bottom: 0;
}

.total {
  margin-top: 18px;
  margin-right: 0;
  margin-bottom: 24px;
  justify-content: space-between;
  gap: 0;
}

.info-text {
  margin-right: 0;
}

.close-button {
  margin-right: -3px;
}

}

/* mobile */

@media (max-width: 750px) {

  .wrapper {
      max-width: 100%;
  }

  /* header */

  .header-wrapper {
      margin: 20px 0 15px 9px ;
  }

  .burger-icon {
      margin-right: 10px;
  }

  /* menu */

  .menu-wrapper h1 {
    margin-bottom: 10%;
    font-size: 32px;
  }

  .menu-icons {
    margin-left: 0;
    column-gap: 6px;
  }

  .coffee-offer, .tea-offer, .desserts-offer {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(4, 529px);
    row-gap: 17px;
    padding-right: 2%;
    padding-left: 1%;
  }

  .download-more {
    display: flex;
    justify-self: center;
    margin-top: 0.5px;
    margin-right: -1%;
    margin-bottom: 19px;
  }

  /* footer */

  .footer-wrapper {
    display: flex;
    align-items: end;
    margin-right: 8px;
    margin-left: 8px;
  }

  .social-networks h2 {
    display: inline-block;
    margin-bottom: 0;
    padding: 60px 16px 40px 16px;
    font-size: 32px;
  }

  .social-networks span {
    font-size: 32px;
  }

  .social-networks span {
    margin-top: 0;
  }

  .icons-footer, .contacts {
    padding-left: 4.5%;
  }

  .contacts h3 {
    padding-top: 20px;
  }

  .contacts {
    padding-bottom: 18%;
  }

  /* modal window */

  .modal.active {
    left: 50%;
    right: -40%;
    padding: 26px 16px 16px 5px;
  }

  .modal-window-content {
    margin-top: -20px;
    padding-left: 10px;
  }

  .modal-window-content h2 {
    margin-top: 10px;
  }

  .modal-window-img {
    display: none;
  }

  .product-items {
    margin-top: 6px;
  }

  .modal-window-content hr {
    margin-bottom: 0;
  }

  .total {
    margin-bottom: 13px;
  }

  .info {
    margin-top: 12px;
  }

  .info div, .info-text {
    padding-top: 10px;
  }

  .info-text {
    margin-right: 0;
  }

}