@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Pixelify+Sans&display=swap');

html {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: 'Pixelify Sans', sans-serif;
    background-color: #ccb5;
}

h1 {
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #713d09;
}

.attempts {
    display: flex;

    font-size: 47px;
    color: rgb(186, 28, 28);
}

.grid {
    width: 610px;
    display: flex;
    flex-wrap: wrap;
}

.cell {
 width: 108px;
 height: 108px;
 border: 1px solid rgba(51, 68, 67, 0.333);
 cursor: pointer;
}

.cell.correct {
    background-color: #000;
}

.cell.incorrect {
    background-color: #830b0b;
}

.hint-horisontal-box {
    width: 610px;
    display: flex;
    justify-content: center;
    margin-left: 59px;
}

.hint-horizontal {
    width: 109px;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #ccb5;
    border-bottom: 5px solid rgba(51, 68, 67, 0.333);
    border-right: 1px solid rgba(51, 68, 67, 0.333);
}

.hint-vertical {
    width: 54px;
    height: 109px;
    display: flex;
    justify-content: center;
    align-items: center;

    border-bottom: 1px solid rgba(51, 68, 67, 0.333);
    border-right: 5px solid rgba(51, 68, 67, 0.333);
    background-color: #ccb5;
}

/* modal window */

.modal-background {
    position: fixed;
    display: none;
    width: 100%;
    height: 100vh;
    background-color: rgba(51, 68, 67, 0.333);
}

.modal-background.active {
    display: block;
}

.window {
    width: 40%;
    height: 50vh;
    position: absolute;
    z-index: 2;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(83, 83, 38, 0.333);

    border-radius: 5%;
}

.window.active {
    display: flex;
}

.window-nonogram {
    width: 200px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    background-color: #a36f6f;
}

.window-nonogram div {
    width: 38px;
    height: 38px;
    border: 1px solid #a36f6f;
    background-color: rgb(190, 152, 152);
}

.window-buttton {
    appearance: none;
    width: 120px;
    height: 40px;
    font-family: "Pixelify Sans", sans-serif;
    border: 1px solid #a36f6f;
    border-radius: 5%;
    cursor: pointer;
}