.page-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: url('../../images/entry-page2.jpg');
  background-size: cover;
}

h1 {
  margin-bottom: 7px;
  background-color: #ee8642;
  box-shadow: 0 0 5px 10px #ee8642;
  border-radius: 10px;
}

p {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #ee8642;
  box-shadow: 0 0 5px 10px #ee8642;
  border-radius: 10px;
}

.container {
  display: flex;
  /* gap: 10px; */
  flex-direction: column;
  align-items: center;
}

.validation-hint {
  margin-bottom: 7px;
  padding: 5px;
  line-height: 4px;
  font-size: 10px;
  background-color: #ee8642;
  box-shadow: 0 0 5px 10px #ee8642;
  border-radius: 10px;
}

.entry-page-input {
  width: 400px;
  height: 50px;
  margin-bottom: 10px;

  font-family: 'Sora', sans-serif;
  font-size: 20px;
  text-align: center;
  border: 0;
  border-radius: 30px;
  background-color: #ee8642;
}

/* .entry-page-input:valid {
  background-color: rgb(199, 231, 157);
} */

.log-in-button {
  width: 250px;
  height: 40px;
  margin-top: 10px;

  font-family: 'Sora', sans-serif;
  font-size: 15px;
  font-weight: 800;
  border-radius: 20px;
  cursor: pointer;
}

.log-in-button:hover {
  transition-duration: 1s;
  background-color: #7591b9;
}
