.commun-functionality {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.update-car-block,
.create-car-block {
  display: flex;
  gap: 5px;
}

.commun-functionality button {
  font-family: "Tauri", sans-serif;
  font-size: 10px;
  cursor: pointer;
}

.race-field {
  display: flex;
  flex-direction: column;
}

.commun-game-buttons,
.car-buttons,
.car-controllers {
  display: flex;
  gap: 5px;
}

.car-name {
  font-family: "Tauri", sans-serif;
  font-weight: 600;
  color: #dcd8ba;
}

.car-buttons button {
  width: 55px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Tauri", sans-serif;
  font-size: 10px;
  cursor: pointer;
}

.car-controllers {
  margin-top: 10px;
}

.car-controllers button {
  width: 15px;
  height: 15px;
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  align-self: baseline;
  font-family: "Tauri", sans-serif;
  font-size: 10px;
  cursor: pointer;
}

svg {
  margin-bottom: -12px;
}

.road {
  width: 100%;
  height: 1px;
  border: 1.5px dotted rgb(220, 85, 85);
  /* border-style: dashed; */
  background-color: #dcd8ba;
}
