@import url('./fonts/fonts.css');

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #5c7a9b;
  font-family: 'Sora', sans-serif;
}

@import url('./entry-page/log-in-form.css');
